.form-div {
    position: relative;
    padding: 3em 1em 1em;
    border: 1px solid #d8d8d8;
    margin: 1.5rem 0 0;
  }
  
  .form-div::before {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1em;
    color: #aaa;
    font-size: smaller;
    font-weight: 500;
    content: 'LOGIN FORM';
  }
  
  .form-div::after {
    clear: both;
    content: " ";
    display: table;
  }